@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

@font-face {
  font-family: Marag;
  src: url(./fonts/Maragsâ-Display.otf);
}

.marag {
  font-family: Marag;
}

body {
  background: var(--background);
  font-family: Marag;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
